@tailwind base;
@tailwind components;
@tailwind utilities;



/*Boton Projecto*/
.buttonProjects {
  position: relative;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #4a81e9;
  transition: all 0.2s ease;
}

.buttonProjects:active {
  transform: scale(0.96);
}

.buttonProjects:before,
.buttonProjects:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.buttonProjects:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #4a81e9 20%, transparent 30%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #4a81e9 15%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.buttonProjects:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #4a81e9 15%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%),
    radial-gradient(circle, #4a81e9 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/*Boton Send */

.buttonSend {
  font-family: inherit;
  font-size: 20px;
  background: rgb(106, 139, 236);
  color: white;
  padding: 0.3em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.buttonSend span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.buttonSend svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonSend:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonSend:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.buttonSend:hover span {
  transform: translateX(5em);
}

.buttonSend:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}